@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0A;
    --foreground: #ededed;
  }
}

html{
  scroll-behavior: smooth;
}

*{
  font-family: var(--font-poppins);
}
body {
  background: #0A0A0A;
  color: var(--foreground);
  /* height: 100vw; */
  /* overflow: hidden; */
  font-family: Arial, Helvetica, sans-serif;
}

.heading{
  @apply text-4xl md:text-6xl font-medium mb-6 tracking-tight;
}

.headingpara{
  @apply text-[19px] text-gray-300 max-w-3xl mx-auto leading-relaxed
}

.brightheadingpara{
  @apply text-[19px] text-gray-900 max-w-3xl mx-auto mb-16 leading-relaxed;
}

.sectionBackground{
  @apply w-[80vw] mx-auto py-16 md:py-24 text-white;
}

.buttonClass{
  @apply p-3 bg-gray-100 cursor-pointer text-black rounded-full shadow-lg transition-colors duration-200 hover:bg-gray-200 disabled:opacity-50;
}

.cardBackground{
  @apply border border-[#101010] bg-[#101010];
}

.heading3{
  @apply text-[18px] sm:text-xl md:text-2xl  font-medium text-white mb-4;
}

.buttonstyles{
  @apply bg-red-700 hover:bg-red-600 text-white font-normal rounded-lg cursor-pointer transition-all duration-200;
}


.adminSearchbar{
  @apply p-6 my-20 w-[80vw] h-fit mx-auto;
}

.adminSearchbarParent{
  @apply flex items-center justify-between mb-4 bg-[#242424] py-3 px-5 rounded-lg;
}

.searchparent{
  @apply flex items-center border border-[#C31616] px-3 py-2 rounded-lg w-1/3 gap-2 bg-[#101010] focus-within:border-red-500;
}

.search{
  @apply outline-none text-white w-full;
}
